.mv {
    background-color: #f5fe7d;
    display: flex;
    justify-content: space-between;
    padding: 103px 0 113px 8.4%;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        padding: 40px 20px 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-content {
        margin-top: 33px;
        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
        &-txt {
            font-size: 56px;
            color: #222;
            font-weight: bold;
            line-height: 1.25;
            letter-spacing: 0.04em;
            margin-bottom: 30px;
            @media screen and (max-width: 1280px) {
                font-size: 40px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 26px;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 15px;
            }
            span {
                font-size: 76px;
                @media screen and (max-width: 1280px) {
                    font-size: 58px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 42px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 28px;
                }
            }
        }
        &-btn {
            width: 318px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            color: #fff;
            background-color: #000;
            @media screen and (max-width: 768px) {
                width: 280px;
                height: 48px;
                font-size: 14px;
            }
        }
    }
    &-slider {
        position: relative;
        @media screen and (min-width: 769px) {
            width: 63%;
            margin-right: -77px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
        &-content {
            width: 100%;
            position: relative;
            @media screen and (max-width: 768px) {
                width: 100%;
                max-width:300px;
            }
        }
    }
}
.pagination {
    position: absolute;
    bottom: -45px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
        bottom: -20px !important;
    }
    span {
        display: block;
        width: 52px;
        height: 7px;
        background-color: #000;
        margin: 0 7.5px !important;
        border-radius: 0;
        opacity: 1;
        @media screen and (max-width: 768px) {
            width: 30px;
            height: 4px;
            margin: 0 4px !important;
        }
    }
}