.card {
    display: block;
    width: 100%;
    max-width: 430px;
    background-color: #000;
    padding: 20px;
    position: relative;
    @media screen and (max-width: 768px) {
        max-width: 300px;
        padding: 10px;
    }
    &-img {
        border-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &-logo {
        margin: -40px auto 0;
        width: 100%;
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
            margin-top: -30px;
        }
        &-base {
            height: 10px;
        }
        img {
            width: 68px;
            @media screen and (max-width: 768px) {
                width: 50px;
            }
        }
    }
    &-content {
        min-height: 52px;
    }
    &-name {
        margin-top: 32px;
        font-size: 22px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.08em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
    &-collection {
        margin-top: 10px;
        font-size: 14px;
        color: #f5fe7d;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
    &-price {
        margin: 20px 0 24px;
        font-size: 21.75px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            margin-top: 15px;
        }
        span {
            font-size: 19px;
            color: #999;
        }
    }
    &-favourite {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        bottom: 20px;
        @media screen and (max-width: 768px) {
            bottom: 15px;
        }
        &-icon {
            background: transparent;
            outline: none;
            border: 0;
            padding: 0;
            font-size: 20px;
        }
        &-number {
            color: #fff;
            font-size: 20px;
            margin-left: 4px;
            margin-bottom: 5px;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    &-user {
        display: flex;
        align-items: center;
        padding-right: 30px;
        @media screen and (max-width: 768px) {
            padding-bottom: 5px;
        }
        img {
            width: 33px;
            @media screen and (max-width: 768px) {
                width: 24px;
            }
        }
        &-name {
            font-size: 14px;
            color: #dbdcdc;
            margin-left: 10px;
            @media screen and (max-width: 768px) {
                font-size: 11px;
            }
        }
    }
}
.items {
    overflow: hidden;
    &-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 35px -20px 30px;
        @media screen and (max-width: 768px) {
            margin: 20px 0 30px;
        }
    }
}
.item {
    padding: 0 13.5px;
    margin-bottom: 25px;
    width: 456px;
    @media screen and (max-width: 768px) {
        width: 320px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}