.related {
    padding: 110px 0;
    @media screen and (max-width: 768px) {
        padding: 60px 0;
    }
    &-ttl {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            font-weight: bold;
            position: relative;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
            span {
                margin-left: 10px;
            }
        }
        &:after {
            content: "";
            display: block;
            margin: 22px auto 0;
            width: 130px;
            height: 4px;
            background-color: #000;
            @media screen and (max-width: 768px) {
                margin-top: 10px;
                width: 100px;
                height: 2px;
            }
        }
    }
}