.mypage {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px 30px;
    @media screen and (max-width: 768px) {
        padding-bottom: 20px;
    }
    &-user {
        padding: 65px 0 70px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 35px 20px;
        }
        &-logo {
            margin-right: 25px;
            position: relative;
            border-radius: 100%;
            @media screen and (max-width: 1024px) {
                margin-right: 15px;
            }
            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
            img {
                @media screen and (max-width: 1024px) {
                    width: 140px;
                }
                @media screen and (max-width: 768px) {
                    width: 100px;
                }
            }
            &-edit {
                position: absolute;
                padding: 0;
                border: 0;
                background: 0;
                width: 41px;
                height: 41px;
                right: 3px;
                bottom: 3px;
            }
        }
        &-content {
            flex: 1;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }
        &-name {
            font-size: 36px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 20px;
            @media screen and (max-width: 1024px) {
                font-size: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-txt {
            font-size: 24px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            span {
                margin-left: 10px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 20px;
            }
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    &-tabs {
        margin-bottom: 80px;
        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
        }
        &-item {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: -2px;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                gap: 0;
            }
            button {
                width: 272px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border: 2px solid #333;
                font-size: 28px;
                font-weight: bold;
                color: #000;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    width: 140px;
                    height: 50px;
                    border-radius: 0;
                }
                &.is-active {
                    background-color: #f5fe7d;
                    border-bottom-color: #f5fe7d;
                }
            }
        }
        &-content {
            border: 2px solid #333;
            padding: 20px 0;
        }
    }
}