.mypage {
    width: 100%;
    
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px 30px;
    @media screen and (max-width: 768px) {
        padding-bottom: 20px;
    }
    &-user {
        max-width: 1600px;
        padding: 65px 0 70px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 35px 20px;
        }
        &-logo {
            margin-right: 25px;
            position: relative;
            border-radius: 100%;
            @media screen and (max-width: 1024px) {
                margin-right: 15px;
            }
            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
            img {
                @media screen and (max-width: 1024px) {
                    width: 140px;
                }
                @media screen and (max-width: 768px) {
                    width: 100px;
                }
            }
            &-edit {
                position: absolute;
                padding: 0;
                border: 0;
                background: 0;
                width: 41px;
                height: 41px;
                right: 3px;
                bottom: 3px;
                @media screen and (max-width: 768px) {
                    width: 30px;
                    height: 30px;
                }
                img {
                    @media screen and (max-width: 768px) {
                        width: 30px;
                    }
                }
            }
        }
        &-content {
            flex: 1;
            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }
        &-name {
            font-size: 36px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 20px;
            @media screen and (max-width: 1024px) {
                font-size: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &-txt {
            font-size: 24px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            span {
                margin-left: 10px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 20px;
            }
            @media screen and (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
    &-tabs {
        margin-bottom: 80px;
        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
        }
        &-item {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: -2px;
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                gap: 0;
            }
            button {
                width: 272px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border: 2px solid #333;
                font-size: 28px;
                font-weight: bold;
                color: #000;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                cursor: pointer;
                @media screen and (max-width: 768px) {
                    font-size: 18px;
                    width: 140px;
                    height: 50px;
                    border-radius: 0;
                }
                &.is-active {
                    background-color: #f5fe7d;
                    border-bottom-color: #f5fe7d;
                }
            }
        }
        &-content {
            border: 2px solid #333;
            padding: 20px 0;
        }
    }
    &-table {
        padding: 8px 35px;
        @media screen and (min-width: 769px) {
            min-height: 999px;
        }
        .single-head {
            padding: 28px 50px;
            @media screen and (max-width: 768px) {
                padding: 15px 30px;
            }
        }
        &-content {
            padding: 35px 40px 25px;
            overflow: auto;
            @media screen and (max-width: 768px) {
                padding: 15px 20px 10px;
            }
            table {
                width: 100%;
                vertical-align: middle;
                @media screen and (max-width: 1280px) {
                    width: 1100px;
                }
                @media screen and (max-width: 768px) {
                    width: 700px;
                }
                th {
                    font-size: 22px;
                    text-align: left;
                    border-bottom: 1px solid #333;
                    padding: 15px 5px;
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                    &:nth-of-type(1) {
                        padding-left: 80px;
                        @media screen and (max-width: 768px) {
                            padding-left: 40px;
                        }
                    }
                }
                td {
                    font-size: 16px;
                    vertical-align: middle;
                    padding: 31px 10px;
                    border-bottom: 1px solid #333;
                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                        padding: 20px 10px;
                    }
                    &:nth-of-type(1) {
                        padding-left: 80px;
                        @media screen and (max-width: 768px) {
                            padding-left: 40px;
                        }
                    }
                    a {
                        text-decoration: underline;
                        color: #000;
                    }
                }
            }
            &-img {
                display: inline-flex;
                align-items: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                span {
                    display: inline-block;
                    margin-right: 15px;
                    @media screen and (max-width: 768px) {
                        margin-right: 8px;
                    }
                }
                img {
                    width: 65px;
                    border-radius: 5px;
                    @media screen and (max-width: 768px) {
                        width: 30px;
                    }
                }
            }
            &-date {
                font-size: 16px !important;
                line-height: 1.4;
                text-align: left;
                @media screen and (max-width: 768px) {
                    font-size: 11px !important;
                }
            }
        }
    }
}