.footer {
    background-color: #0e0e0e;
    padding: 125px 20px;
    @media screen and (max-width: 768px) {
        padding: 50px 20px;
    }
    &-wrap {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto 115px;
        position: relative;
        display: flex;
        @media screen and (max-width: 1280px) {
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
    }
    &-col {
        @media screen and (max-width: 1280px) {
            width: 100%;
            margin-bottom: 50px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &-logo {
        img {
            @media screen and (max-width: 768px) {
                width: 250px;
            }
        }
    }
    &-txt {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        padding: 25px 0 0 75px;
        line-height: 1.6;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            padding: 20px 0 0 40px;
        }
        span {
            font-size: 32px;
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
    &-nav {
        display: flex;
        padding-left: 6%;
        margin-bottom: 45px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 30px;
            padding-left: 0;
            margin-bottom: 30px;
            justify-content: space-between;
        }
        ul {
            width: 246px;
            @media screen and (max-width: 768px) {
                width: 45%;
            }
            li {
                margin-bottom: 45px;
                a {
                    display: block;
                    color: #fff;
                    font-size: 18px;
                    @media screen and (max-width: 768px) {
                        font-size: 13px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
    &-socical {
        display: flex;
        @media screen and (max-width: 768px) {
            position: static;
            margin-bottom: 30px;
        }
        a {
            display: block;
            margin-left: 25px;
            @media screen and (max-width: 768px) {
                margin-left: 0;
                margin-right: 15px;
                img {
                    width: 40px;
                }
            }
        }
    }
    &-copyright {
        text-align: right;
        color: #fff;
        font-size: 13px;
        padding-right: 40px;
        @media screen and (max-width: 768px) {
            font-size: 11px;
        }
    }
}